/* Establecer un fondo principal en tono de azul suave */
body {
    background-color: #E6F7FF; /* Fondo principal en azul suave */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: black; /* Texto en negro */
}

/* Estilo del contenedor del formulario */
form {
    background-color: #99C2E6; /* Fondo en tono de azul oscuro */
    border: 1px solid #4073A8; /* Borde en azul más oscuro */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra en el borde */
    padding: 20px;
    max-width: 580px; /* Ancho reducido para dar espacio a los márgenes */
    margin: 0 auto;
}

/* Estilo del encabezado */
h1 {
    color: black; /* Texto en negro */
    text-align: center;
}

/* Estilo de las preguntas */
.question {
    margin-bottom: 20px;
}

/* Estilo de las etiquetas de las preguntas */
label {
    color: black; /* Texto en negro */
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

/* Estilo de los campos de entrada de texto */
input[type="text"],
input[type="number"],
select {
    width: calc(100% - 10px); /* Restamos 10px al ancho */
    padding: 10px;
    border: 1px solid #4073A8; /* Borde en azul más oscuro */
    border-radius: 5px;
    background-color: #E6F7FF; /* Fondo en azul suave */
    margin-top: 5px;
    margin-bottom: 10px; /* Agregamos margen inferior */
    margin-right: 10px; /* Agregamos margen a la derecha */
}

/* Estilo para los botones de radio y casillas de verificación */
input[type="radio"],
input[type="checkbox"] {
    display: inline-block; /* Mostrar en línea */
    vertical-align: middle; /* Alinear verticalmente al medio */
    margin-right: 5px; /* Espacio a la derecha de los botones */
}

/* Estilo de las etiquetas para opciones múltiples */
label {
    color: black; /* Texto en negro */
    font-weight: bold;
    display: inline-block;
    vertical-align: middle; /* Alinear verticalmente al medio */
}

/* Estilo para las etiquetas seleccionadas */
.label-option.selected {
    background-color: #4CAF50; /* Color verde para la selección */
    color: white;
    border-color: #4CAF50;
}


/* Estilo del botón de envío */
.submit-button {
    text-align: center;
    margin-top: 20px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilo de los enlaces */
a {
    color: #1565C0;
    text-decoration: underline;
}

/* Estilo de los enlaces al pasar el ratón por encima */
a:hover {
    color: #2196F3;
}
